In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master("local[*]").getOrCreate()
data = spark.read.csv('Amazon_Responded_Oct05.csv',header = True) # Importing the dataset as a csv

In [4]:
data.show(5)

+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|              id_str|    tweet_created_at|user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|    user_description|user_location|user_verified|user_followers_count|user_friends_count|     user_created_at|tweet_language|               text_|favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|                text|
+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|'793270689780203520'|Tue Nov 01 01:57:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp Can y...|             0|    False|             AmazonHelp|                     null|               85741735|            0|    False|                null|
|'793281386912354304'|Tue Nov 01 02:39:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab I'm ...|             0|    False|            SeanEPanjab|     7.932706897802035...|              143515471|            0|    False|                null|
|'793501578766319616'|Tue Nov 01 17:14:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp It wa...|             0|    False|             AmazonHelp|     7.932813869123543...|               85741735|            0|    False|@AmazonHelp It wa...|
|'793501657346682880'|Tue Nov 01 17:15:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp I am ...|             0|    False|             AmazonHelp|     7.932813869123543...|               85741735|            0|    False|                null|
|'793502854459879424'|Tue Nov 01 17:19:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab Plea...|             0|    False|            SeanEPanjab|     7.935015787663196...|              143515471|            0|    False|@SeanEPanjab Plea...|
+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
only showing top 5 rows

In [5]:
data_new = data[['tweet_created_at','user_screen_name','user_id_str']]

In [6]:
data_new # this is Amazon_responded_oct5

DataFrame[tweet_created_at: string, user_screen_name: string, user_id_str: string]

In [7]:
data_new.first()

Row(tweet_created_at='Tue Nov 01 01:57:25 +0000 2016', user_screen_name='SeanEPanjab', user_id_str='143515471')

In [8]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark.sparkContext)

In [9]:
from pyspark.sql.types import StringType
from pyspark.sql.types import StructType
from pyspark.sql.functions import udf

In [10]:
def strip(s):
    return(str(s)[0:10])

In [11]:
strip_udf = udf(strip,StringType())

In [12]:
dat = data_new.withColumn('tweet_created', strip_udf(data_new['tweet_created_at']))

In [13]:
dat.show(10)

+--------------------+----------------+-----------+-------------+
|    tweet_created_at|user_screen_name|user_id_str|tweet_created|
+--------------------+----------------+-----------+-------------+
|Tue Nov 01 01:57:...|     SeanEPanjab|  143515471|   Tue Nov 01|
|Tue Nov 01 02:39:...|      AmazonHelp|   85741735|   Tue Nov 01|
|Tue Nov 01 17:14:...|     SeanEPanjab|  143515471|   Tue Nov 01|
|Tue Nov 01 17:15:...|     SeanEPanjab|  143515471|   Tue Nov 01|
|Tue Nov 01 17:19:...|      AmazonHelp|   85741735|   Tue Nov 01|
|Tue Nov 01 17:25:...|      AmazonHelp|   85741735|   Tue Nov 01|
|Tue Nov 01 17:55:...|     SeanEPanjab|  143515471|   Tue Nov 01|
|Tue Nov 01 17:55:...|     SeanEPanjab|  143515471|   Tue Nov 01|
|Tue Nov 01 18:02:...|      AmazonHelp|   85741735|   Tue Nov 01|
|Tue Nov 01 03:51:...|   aakashwangnoo|   71457972|   Tue Nov 01|
+--------------------+----------------+-----------+-------------+
only showing top 10 rows

In [14]:
sqlContext.registerDataFrameAsTable(dat, "table1")

In [80]:
daily_active_users = sqlContext.sql("Select user_id_str,user_screen_name,count(DISTINCT tweet_created) as count from table1 group by user_id_str,user_screen_name HAVING count >=5 order by count DESC")

In [81]:
daily_active_users.show(15) # this is daily user

+------------------+----------------+-----+
|       user_id_str|user_screen_name|count|
+------------------+----------------+-----+
|             False|               0|  561|
|              null|            null|  525|
|          85741735|      AmazonHelp|  279|
|             False|               1|   51|
|             False|            null|   47|
|          54704557| SthrnDixieCwgrl|   27|
|          15413409|   theonetruebix|   19|
|              null|           False|   18|
|                75|           False|   17|
|         133804026|  RichPierce0079|   16|
|         362763757| BillyTheBigBone|   16|
|         441572163|   Gentlemen_Sam|   16|
|                57|           False|   15|
|         587376186|    Localboy_Ash|   14|
|720329744726687744|          saj44a|   14|
+------------------+----------------+-----+
only showing top 15 rows

In [82]:
daily_active_users.collect()

[Row(user_id_str='False', user_screen_name='0', count=561),
 Row(user_id_str=None, user_screen_name=None, count=525),
 Row(user_id_str='85741735', user_screen_name='AmazonHelp', count=279),
 Row(user_id_str='False', user_screen_name='1', count=51),
 Row(user_id_str='False', user_screen_name=None, count=47),
 Row(user_id_str='54704557', user_screen_name='SthrnDixieCwgrl', count=27),
 Row(user_id_str='15413409', user_screen_name='theonetruebix', count=19),
 Row(user_id_str=None, user_screen_name='False', count=18),
 Row(user_id_str='75', user_screen_name='False', count=17),
 Row(user_id_str='133804026', user_screen_name='RichPierce0079', count=16),
 Row(user_id_str='362763757', user_screen_name='BillyTheBigBone', count=16),
 Row(user_id_str='441572163', user_screen_name='Gentlemen_Sam', count=16),
 Row(user_id_str='57', user_screen_name='False', count=15),
 Row(user_id_str='14', user_screen_name='False', count=14),
 Row(user_id_str='293447041', user_screen_name='Eva250178', count=14),
 Row(user_id_str='587376186', user_screen_name='Localboy_Ash', count=14),
 Row(user_id_str='720329744726687744', user_screen_name='saj44a', count=14),
 Row(user_id_str='140738682', user_screen_name='anishsangamam', count=14),
 Row(user_id_str='42205044', user_screen_name='basusagar', count=13),
 Row(user_id_str='55', user_screen_name='False', count=13),
 Row(user_id_str='64041474', user_screen_name='amruthhr', count=13),
 Row(user_id_str='97', user_screen_name='False', count=13),
 Row(user_id_str='154', user_screen_name='False', count=13),
 Row(user_id_str='False', user_screen_name='India', count=13),
 Row(user_id_str='21064452', user_screen_name='AW0079', count=13),
 Row(user_id_str='3025478429', user_screen_name='ssbib85', count=13),
 Row(user_id_str='444365106', user_screen_name='andzayn', count=13),
 Row(user_id_str='30992650', user_screen_name='Mathew30', count=13),
 Row(user_id_str='44', user_screen_name='False', count=13),
 Row(user_id_str='14472490', user_screen_name='mcurie', count=12),
 Row(user_id_str='23808818', user_screen_name='Brideofrocknrol', count=12),
 Row(user_id_str='234', user_screen_name='False', count=12),
 Row(user_id_str='149', user_screen_name='False', count=12),
 Row(user_id_str='41', user_screen_name='False', count=12),
 Row(user_id_str='20', user_screen_name='False', count=12),
 Row(user_id_str='68', user_screen_name='False', count=12),
 Row(user_id_str='62498968', user_screen_name='Asqwolf', count=12),
 Row(user_id_str='271101710', user_screen_name='THEPIMPHACKER', count=12),
 Row(user_id_str='96312930', user_screen_name='vishal2323', count=12),
 Row(user_id_str='803555957733109760', user_screen_name='SpeakUp_IN', count=11),
 Row(user_id_str='73937769', user_screen_name='See_i_can_fly', count=11),
 Row(user_id_str='38', user_screen_name='False', count=11),
 Row(user_id_str='710681467651624960', user_screen_name='happysach', count=11),
 Row(user_id_str='493941380', user_screen_name='iamtrideep', count=11),
 Row(user_id_str='126', user_screen_name='False', count=11),
 Row(user_id_str='1217161502', user_screen_name='CourierZero', count=11),
 Row(user_id_str='52', user_screen_name='False', count=11),
 Row(user_id_str='3285473358', user_screen_name='iwritegarima', count=11),
 Row(user_id_str='23', user_screen_name='False', count=11),
 Row(user_id_str='157', user_screen_name='False', count=11),
 Row(user_id_str='95', user_screen_name='False', count=11),
 Row(user_id_str='83', user_screen_name='False', count=11),
 Row(user_id_str='86029062', user_screen_name='siddiq10931093', count=11),
 Row(user_id_str='787117533719560192', user_screen_name='dealsandloots', count=11),
 Row(user_id_str='28', user_screen_name='False', count=11),
 Row(user_id_str='2712332275', user_screen_name='SBillingtonfan', count=11),
 Row(user_id_str='2892047065', user_screen_name='spradhan1210', count=11),
 Row(user_id_str='32', user_screen_name='False', count=11),
 Row(user_id_str='2366888623', user_screen_name='pranabdavinci', count=11),
 Row(user_id_str='2305584128', user_screen_name='TyphHunter', count=11),
 Row(user_id_str='483059773', user_screen_name='sky_regenrated', count=11),
 Row(user_id_str='94', user_screen_name='False', count=11),
 Row(user_id_str='272456715', user_screen_name='Mohan_Rngnathan', count=11),
 Row(user_id_str='72', user_screen_name='False', count=10),
 Row(user_id_str='1008060450', user_screen_name='Steph_CO7272', count=10),
 Row(user_id_str='77', user_screen_name='False', count=10),
 Row(user_id_str='2889927415', user_screen_name='Akshay_goplani', count=10),
 Row(user_id_str='59', user_screen_name='False', count=10),
 Row(user_id_str='15178679', user_screen_name='mcp111', count=10),
 Row(user_id_str='271', user_screen_name='False', count=10),
 Row(user_id_str='False', user_screen_name='2', count=10),
 Row(user_id_str='54251727', user_screen_name='JimPierobon', count=10),
 Row(user_id_str='63', user_screen_name='False', count=10),
 Row(user_id_str='719544958877696001', user_screen_name='PritiYa80985097', count=10),
 Row(user_id_str='12990382', user_screen_name='gwaland', count=10),
 Row(user_id_str='22982668', user_screen_name='princessgleek', count=10),
 Row(user_id_str='22', user_screen_name='False', count=10),
 Row(user_id_str='705018428483112960', user_screen_name='MominSaifoddin', count=10),
 Row(user_id_str='88', user_screen_name='False', count=10),
 Row(user_id_str='70', user_screen_name='False', count=10),
 Row(user_id_str='2868342566', user_screen_name='zyusoken', count=10),
 Row(user_id_str='54528620', user_screen_name='linpswa', count=10),
 Row(user_id_str='151', user_screen_name='False', count=10),
 Row(user_id_str='346', user_screen_name='False', count=10),
 Row(user_id_str='140', user_screen_name='False', count=10),
 Row(user_id_str='29548628', user_screen_name='CarlosG67', count=9),
 Row(user_id_str='241391028', user_screen_name='PRATHEESH_PPN', count=9),
 Row(user_id_str='21', user_screen_name='False', count=9),
 Row(user_id_str='42', user_screen_name='False', count=9),
 Row(user_id_str='206', user_screen_name='False', count=9),
 Row(user_id_str='15007269', user_screen_name='ckhayek', count=9),
 Row(user_id_str='49989431', user_screen_name='NOtoGMOs', count=9),
 Row(user_id_str='50', user_screen_name='False', count=9),
 Row(user_id_str='111', user_screen_name='False', count=9),
 Row(user_id_str='82', user_screen_name='False', count=9),
 Row(user_id_str='845604400999661568', user_screen_name='DevjotN', count=9),
 Row(user_id_str='307075287', user_screen_name='Heart1QueenBee', count=9),
 Row(user_id_str='466818620', user_screen_name='musicxtu92', count=9),
 Row(user_id_str='1300002864', user_screen_name='matthewD2013', count=9),
 Row(user_id_str='23019151', user_screen_name='Bunnyaimee', count=9),
 Row(user_id_str='33', user_screen_name='False', count=9),
 Row(user_id_str='120410501', user_screen_name='RGengage', count=9),
 Row(user_id_str='250321402', user_screen_name='meljridge', count=9),
 Row(user_id_str='40', user_screen_name='False', count=9),
 Row(user_id_str='3025211876', user_screen_name='353839052d72499', count=9),
 Row(user_id_str='36', user_screen_name='False', count=9),
 Row(user_id_str='74468092', user_screen_name='vaibhav926', count=9),
 Row(user_id_str='125', user_screen_name='False', count=9),
 Row(user_id_str='47828355', user_screen_name='CoCoButterExp', count=9),
 Row(user_id_str='59203639', user_screen_name='Zaedlo', count=9),
 Row(user_id_str='195', user_screen_name='False', count=9),
 Row(user_id_str='143', user_screen_name='False', count=9),
 Row(user_id_str='48', user_screen_name='False', count=9),
 Row(user_id_str='17786914', user_screen_name='davecraige', count=9),
 Row(user_id_str='235559055', user_screen_name='ikumarvinod', count=9),
 Row(user_id_str='167', user_screen_name='False', count=9),
 Row(user_id_str='48618530', user_screen_name='avocado__toast', count=9),
 Row(user_id_str='174', user_screen_name='False', count=9),
 Row(user_id_str='74', user_screen_name='False', count=8),
 Row(user_id_str='115', user_screen_name='False', count=8),
 Row(user_id_str='53', user_screen_name='False', count=8),
 Row(user_id_str='213060183', user_screen_name='ke4ole1', count=8),
 Row(user_id_str='4537041014', user_screen_name='vivivivi1307', count=8),
 Row(user_id_str='66622722', user_screen_name='sanjanind', count=8),
 Row(user_id_str='254', user_screen_name='False', count=8),
 Row(user_id_str='176', user_screen_name='False', count=8),
 Row(user_id_str='29', user_screen_name='False', count=8),
 Row(user_id_str='57953914', user_screen_name='jeetendra25', count=8),
 Row(user_id_str='364922032', user_screen_name='michelledefeo', count=8),
 Row(user_id_str='351806152', user_screen_name='lewyitfc', count=8),
 Row(user_id_str='134', user_screen_name='False', count=8),
 Row(user_id_str='64', user_screen_name='False', count=8),
 Row(user_id_str='321826849', user_screen_name='Lyanna_T', count=8),
 Row(user_id_str='7', user_screen_name='False', count=8),
 Row(user_id_str='False', user_screen_name='New Delhi, India', count=8),
 Row(user_id_str='144', user_screen_name='False', count=8),
 Row(user_id_str='218', user_screen_name='False', count=8),
 Row(user_id_str='46', user_screen_name='False', count=8),
 Row(user_id_str='25', user_screen_name='False', count=8),
 Row(user_id_str='51120513', user_screen_name='jcline35', count=8),
 Row(user_id_str='39935272', user_screen_name='Rookii24', count=8),
 Row(user_id_str='52795609', user_screen_name='santaarnold', count=8),
 Row(user_id_str='69', user_screen_name='False', count=8),
 Row(user_id_str='13', user_screen_name='False', count=8),
 Row(user_id_str='16', user_screen_name='False', count=8),
 Row(user_id_str='28928956', user_screen_name='sudnigga', count=8),
 Row(user_id_str='1387267123', user_screen_name='TheMimiZee', count=8),
 Row(user_id_str='3003188510', user_screen_name='NathDeb2011', count=8),
 Row(user_id_str='50616028', user_screen_name='amarlungare', count=8),
 Row(user_id_str='172', user_screen_name='False', count=8),
 Row(user_id_str='629354934', user_screen_name='elab49', count=8),
 Row(user_id_str='86', user_screen_name='False', count=8),
 Row(user_id_str='2855041037', user_screen_name='rusnewton98', count=8),
 Row(user_id_str='187', user_screen_name='False', count=8),
 Row(user_id_str='145', user_screen_name='False', count=8),
 Row(user_id_str='116', user_screen_name='False', count=8),
 Row(user_id_str='149477154', user_screen_name='rooniitdeb', count=8),
 Row(user_id_str='228821192', user_screen_name='leighfuge', count=8),
 Row(user_id_str='268', user_screen_name='False', count=8),
 Row(user_id_str='26072340', user_screen_name='priskypaws', count=8),
 Row(user_id_str='78', user_screen_name='False', count=8),
 Row(user_id_str='754534205502136324', user_screen_name='avinevergiveup', count=8),
 Row(user_id_str='153', user_screen_name='False', count=8),
 Row(user_id_str='15805170', user_screen_name='dahnamchandler', count=8),
 Row(user_id_str='450676096', user_screen_name='RITESHKHABIYA', count=8),
 Row(user_id_str='18', user_screen_name='False', count=8),
 Row(user_id_str='131310401', user_screen_name='PaulEPetty', count=8),
 Row(user_id_str='315', user_screen_name='False', count=8),
 Row(user_id_str='320', user_screen_name='False', count=8),
 Row(user_id_str='173', user_screen_name='False', count=8),
 Row(user_id_str='2304720642', user_screen_name='vikramwkarve', count=8),
 Row(user_id_str='19', user_screen_name='False', count=8),
 Row(user_id_str='69475762', user_screen_name='RedSixx', count=8),
 Row(user_id_str='65', user_screen_name='False', count=8),
 Row(user_id_str='41480905', user_screen_name='VofEscaflowne', count=8),
 Row(user_id_str='3939183493', user_screen_name='rashmirawat2912', count=8),
 Row(user_id_str='28020360', user_screen_name='JoeSiegler', count=8),
 Row(user_id_str='57927491', user_screen_name='newproblem', count=8),
 Row(user_id_str='146260629', user_screen_name='DementedWolfLuv', count=8),
 Row(user_id_str='885336408', user_screen_name='J_cooper1990', count=8),
 Row(user_id_str='73', user_screen_name='False', count=7),
 Row(user_id_str='121', user_screen_name='False', count=7),
 Row(user_id_str='2739775987', user_screen_name='Cypnos', count=7),
 Row(user_id_str='3789082213', user_screen_name='2SixTwo', count=7),
 Row(user_id_str='58237941', user_screen_name='Sparrargh', count=7),
 Row(user_id_str='12', user_screen_name='False', count=7),
 Row(user_id_str='4673571020', user_screen_name='deepak12may85', count=7),
 Row(user_id_str='124', user_screen_name='False', count=7),
 Row(user_id_str='79', user_screen_name='False', count=7),
 Row(user_id_str='14486807', user_screen_name='msmitka', count=7),
 Row(user_id_str='16275465', user_screen_name='TheMasterBaiter', count=7),
 Row(user_id_str='71', user_screen_name='False', count=7),
 Row(user_id_str='114', user_screen_name='False', count=7),
 Row(user_id_str='147', user_screen_name='False', count=7),
 Row(user_id_str='749383153937244164', user_screen_name='YoungPadawanPR', count=7),
 Row(user_id_str='2991490598', user_screen_name='ssagardutta', count=7),
 Row(user_id_str='201886488', user_screen_name='shoe3r', count=7),
 Row(user_id_str='189', user_screen_name='False', count=7),
 Row(user_id_str='113', user_screen_name='False', count=7),
 Row(user_id_str='774275636101873668', user_screen_name='Nasruhllah07', count=7),
 Row(user_id_str='813383712775684097', user_screen_name='Come_soondad', count=7),
 Row(user_id_str='13765572', user_screen_name='hg6', count=7),
 Row(user_id_str='130810999', user_screen_name='dhakaneram', count=7),
 Row(user_id_str='AmazonHelp', user_screen_name='False', count=7),
 Row(user_id_str='285222173', user_screen_name='neelanjanbarman', count=7),
 Row(user_id_str='43', user_screen_name='False', count=7),
 Row(user_id_str='30', user_screen_name='False', count=7),
 Row(user_id_str='18435372', user_screen_name='medtek', count=7),
 Row(user_id_str='212', user_screen_name='False', count=7),
 Row(user_id_str='183', user_screen_name='False', count=7),
 Row(user_id_str='88709529', user_screen_name='Tushi_Joy', count=7),
 Row(user_id_str='706951793016590336', user_screen_name='Just_Me_Lauren', count=7),
 Row(user_id_str='793273269222797312', user_screen_name='QuentinPotter3', count=7),
 Row(user_id_str='1438180344', user_screen_name='iBasu07', count=7),
 Row(user_id_str='488540026', user_screen_name='AshBurnOvrdrive', count=7),
 Row(user_id_str='22346149', user_screen_name='shubhranshuu', count=7),
 Row(user_id_str='6', user_screen_name='False', count=7),
 Row(user_id_str='76', user_screen_name='False', count=7),
 Row(user_id_str='305857840', user_screen_name='jademc120', count=7),
 Row(user_id_str='14439544', user_screen_name='troykelly', count=7),
 Row(user_id_str='51', user_screen_name='False', count=7),
 Row(user_id_str='214', user_screen_name='False', count=7),
 Row(user_id_str='43617802', user_screen_name='simonbangs', count=7),
 Row(user_id_str='103', user_screen_name='False', count=7),
 Row(user_id_str='169857536', user_screen_name='ateeqtak', count=7),
 Row(user_id_str='47', user_screen_name='False', count=7),
 Row(user_id_str='233', user_screen_name='False', count=7),
 Row(user_id_str='2333955555', user_screen_name='Alfonsiawarrior', count=7),
 Row(user_id_str='2439352879', user_screen_name='sonicman4321', count=7),
 Row(user_id_str='235', user_screen_name='False', count=7),
 Row(user_id_str='1164260107', user_screen_name='runsammrun', count=7),
 Row(user_id_str='2243736468', user_screen_name='beautlittlefool', count=7),
 Row(user_id_str='16678550', user_screen_name='librarykat', count=7),
 Row(user_id_str='808456433872306177', user_screen_name='BuzzMcClain', count=7),
 Row(user_id_str='26', user_screen_name='False', count=7),
 Row(user_id_str='66302156', user_screen_name='TheZamindar', count=7),
 Row(user_id_str='355860475', user_screen_name='RachelWhisker87', count=7),
 Row(user_id_str='4893071304', user_screen_name='Mohitve75936435', count=7),
 Row(user_id_str='2189027816', user_screen_name='DragonMcElroy', count=7),
 Row(user_id_str='104', user_screen_name='False', count=7),
 Row(user_id_str='146', user_screen_name='False', count=7),
 Row(user_id_str='5723252', user_screen_name='boredgirl260', count=7),
 Row(user_id_str='4707813086', user_screen_name='djiquad', count=7),
 Row(user_id_str='2934257079', user_screen_name='Fz_Knuckle99', count=7),
 Row(user_id_str='141', user_screen_name='False', count=7),
 Row(user_id_str='78244428', user_screen_name='SAHAY7', count=7),
 Row(user_id_str='144280479', user_screen_name='ReclusiveCoder', count=7),
 Row(user_id_str='16851793', user_screen_name='kamleshrao', count=7),
 Row(user_id_str='781106864939347968', user_screen_name='Roopa_Awesome', count=7),
 Row(user_id_str='262', user_screen_name='False', count=7),
 Row(user_id_str='False', user_screen_name='Mumbai, India', count=7),
 Row(user_id_str='39395899', user_screen_name='flowmastr1x', count=7),
 Row(user_id_str='61238575', user_screen_name='DanTup', count=7),
 Row(user_id_str='230', user_screen_name='False', count=7),
 Row(user_id_str='45876955', user_screen_name='ritarodwell', count=7),
 Row(user_id_str='90', user_screen_name='False', count=7),
 Row(user_id_str='66', user_screen_name='False', count=7),
 Row(user_id_str='111182345', user_screen_name='Rohanhasastory', count=7),
 Row(user_id_str='48357214', user_screen_name='nidhimaheshwari', count=7),
 Row(user_id_str='1036308488', user_screen_name='nomnom_mania', count=7),
 Row(user_id_str='829394625236443136', user_screen_name='DieselDragonIFD', count=7),
 Row(user_id_str='283', user_screen_name='False', count=7),
 Row(user_id_str='1272524941', user_screen_name='dilbil143', count=7),
 Row(user_id_str='255806428', user_screen_name='Onestudpuppy', count=7),
 Row(user_id_str='3411563867', user_screen_name='Harry_k3721', count=7),
 Row(user_id_str='120', user_screen_name='False', count=7),
 Row(user_id_str='80', user_screen_name='False', count=7),
 Row(user_id_str='88726244', user_screen_name='sravan1802', count=7),
 Row(user_id_str='74934167', user_screen_name='rucchir', count=7),
 Row(user_id_str='37', user_screen_name='False', count=7),
 Row(user_id_str='123', user_screen_name='False', count=7),
 Row(user_id_str='458', user_screen_name='False', count=7),
 Row(user_id_str='86762070', user_screen_name='lahsivarhor', count=7),
 Row(user_id_str='142', user_screen_name='False', count=7),
 Row(user_id_str='2200871844', user_screen_name='AgentDie', count=7),
 Row(user_id_str='733028394', user_screen_name='EsmeraldaMollin', count=7),
 Row(user_id_str='179', user_screen_name='False', count=7),
 Row(user_id_str='1529167434', user_screen_name='RealMikeStack', count=7),
 Row(user_id_str='385528206', user_screen_name='Taterpugz', count=7),
 Row(user_id_str='112', user_screen_name='False', count=7),
 Row(user_id_str='106', user_screen_name='False', count=7),
 Row(user_id_str='3021485983', user_screen_name='Twitte2Ranga', count=7),
 Row(user_id_str='737607555858325504', user_screen_name='Arthi305', count=7),
 Row(user_id_str='122', user_screen_name='False', count=7),
 Row(user_id_str='62', user_screen_name='False', count=7),
 Row(user_id_str='192', user_screen_name='False', count=6),
 Row(user_id_str='227', user_screen_name='False', count=6),
 Row(user_id_str='439', user_screen_name='False', count=6),
 Row(user_id_str='100613504', user_screen_name='sng628', count=6),
 Row(user_id_str='527489415', user_screen_name='urvashi_mitra', count=6),
 Row(user_id_str='3009368979', user_screen_name='ItsJustMe_Rae', count=6),
 Row(user_id_str='280', user_screen_name='False', count=6),
 Row(user_id_str='359869433', user_screen_name='DadaSiddharth', count=6),
 Row(user_id_str='31232521', user_screen_name='IndusOrganics', count=6),
 Row(user_id_str='69216275', user_screen_name='iamandeepdua', count=6),
 Row(user_id_str='358', user_screen_name='False', count=6),
 Row(user_id_str='17731339', user_screen_name='hfactor', count=6),
 Row(user_id_str='148495262', user_screen_name='Whitjoseph', count=6),

In [17]:
AB_Test_id = spark.sparkContext.textFile('experiment.txt')

In [18]:
type(AB_Test_id)

pyspark.rdd.RDD

In [19]:
from pyspark.sql import Row
row = Row("user_id_str")

In [20]:
AB_Test_Dataframe = AB_Test_id.map(row).toDF()

In [21]:
AB_Test_Dataframe

DataFrame[user_id_str: string]

In [22]:
AB_Test_Dataframe.first()

Row(user_id_str='143515471')

In [23]:
AB_Test_Dataframe.show(5)

+-----------+
|user_id_str|
+-----------+
|  143515471|
|   85741735|
|   71457972|
| 2908108256|
|  106799492|
+-----------+
only showing top 5 rows

In [24]:
from pyspark.sql.functions import lit

In [25]:
experiment_user_dummy = AB_Test_Dataframe.withColumn('Whether_active',lit(None).cast(StringType()))

In [36]:
experiment_user_dummy.count()

5000

In [26]:
experiment_user_dummy.first()

Row(user_id_str='143515471', Whether_active=None)

In [27]:
sqlContext.registerDataFrameAsTable(experiment_user_dummy, "table_1")
sqlContext.registerDataFrameAsTable(df1, "table_2")

In [29]:
ans = sqlContext.sql("Select t1.user_id_str,t1.Whether_active,t2.user_id_str as other,t2.user_screen_name from table_1 as t1  left join table_2 as t2 on t1.user_id_str = t2.user_id_str")

In [37]:
len(ans.collect())

5000

In [31]:
sqlContext.registerDataFrameAsTable(ans, "table")

In [83]:
experiment_user = sqlContext.sql('Select user_id_str, CASE when other is NULL then \'NO \' else \'YES \' END as whether_active from table')

In [84]:
experiment_user.collect()

[Row(user_id_str='143515471', whether_active='NO '),
 Row(user_id_str='85741735', whether_active='YES '),
 Row(user_id_str='71457972', whether_active='NO '),
 Row(user_id_str='2908108256', whether_active='NO '),
 Row(user_id_str='106799492', whether_active='NO '),
 Row(user_id_str='59156981', whether_active='NO '),
 Row(user_id_str='902137872', whether_active='YES '),
 Row(user_id_str='110354554', whether_active='YES '),
 Row(user_id_str='97424433', whether_active='NO '),
 Row(user_id_str='62364020', whether_active='NO '),
 Row(user_id_str='2706101936', whether_active='NO '),
 Row(user_id_str='5654472', whether_active='NO '),
 Row(user_id_str='145579921', whether_active='NO '),
 Row(user_id_str='2502172122', whether_active='NO '),
 Row(user_id_str='243716471', whether_active='NO '),
 Row(user_id_str='2610379644', whether_active='NO '),
 Row(user_id_str='123138418', whether_active='NO '),
 Row(user_id_str='257376764', whether_active='NO '),
 Row(user_id_str='269145593', whether_active='NO '),
 Row(user_id_str='370711133', whether_active='NO '),
 Row(user_id_str='1510968974', whether_active='NO '),
 Row(user_id_str='3526380922', whether_active='NO '),
 Row(user_id_str='163413904', whether_active='NO '),
 Row(user_id_str='16980347', whether_active='NO '),
 Row(user_id_str='1209614366', whether_active='NO '),
 Row(user_id_str='447433286', whether_active='NO '),
 Row(user_id_str='1970607968', whether_active='NO '),
 Row(user_id_str='3285473358', whether_active='YES '),
 Row(user_id_str='1112166661', whether_active='NO '),
 Row(user_id_str='422175328', whether_active='NO '),
 Row(user_id_str='60004557', whether_active='NO '),
 Row(user_id_str='2789430008', whether_active='NO '),
 Row(user_id_str='253242925', whether_active='NO '),
 Row(user_id_str='141214344', whether_active='NO '),
 Row(user_id_str='24787056', whether_active='NO '),
 Row(user_id_str='22830586', whether_active='NO '),
 Row(user_id_str='138605435', whether_active='NO '),
 Row(user_id_str='2199664468', whether_active='NO '),
 Row(user_id_str='71098947', whether_active='NO '),
 Row(user_id_str='174156582', whether_active='NO '),
 Row(user_id_str='315105182', whether_active='NO '),
 Row(user_id_str='356667027', whether_active='NO '),
 Row(user_id_str='152122529', whether_active='NO '),
 Row(user_id_str='300526090', whether_active='NO '),
 Row(user_id_str='281666367', whether_active='NO '),
 Row(user_id_str='314200747', whether_active='NO '),
 Row(user_id_str='284371894', whether_active='NO '),
 Row(user_id_str='193060294', whether_active='NO '),
 Row(user_id_str='3098204839', whether_active='NO '),
 Row(user_id_str='89107116', whether_active='NO '),
 Row(user_id_str='20815886', whether_active='NO '),
 Row(user_id_str='3157739056', whether_active='NO '),
 Row(user_id_str='768680968114667520', whether_active='NO '),
 Row(user_id_str='460620990', whether_active='NO '),
 Row(user_id_str='1379501556', whether_active='NO '),
 Row(user_id_str='2725725450', whether_active='NO '),
 Row(user_id_str='55165270', whether_active='NO '),
 Row(user_id_str='252708604', whether_active='NO '),
 Row(user_id_str='94245683', whether_active='NO '),
 Row(user_id_str='33686448', whether_active='NO '),
 Row(user_id_str='238576433', whether_active='NO '),
 Row(user_id_str='518389533', whether_active='NO '),
 Row(user_id_str='21217122', whether_active='NO '),
 Row(user_id_str='791732926387884032', whether_active='NO '),
 Row(user_id_str='132216274', whether_active='NO '),
 Row(user_id_str='175322072', whether_active='NO '),
 Row(user_id_str='29949567', whether_active='NO '),
 Row(user_id_str='17130680', whether_active='NO '),
 Row(user_id_str='1194213805', whether_active='NO '),
 Row(user_id_str='356677104', whether_active='NO '),
 Row(user_id_str='173697045', whether_active='NO '),
 Row(user_id_str='13785352', whether_active='NO '),
 Row(user_id_str='1034809063', whether_active='NO '),
 Row(user_id_str='182037498', whether_active='NO '),
 Row(user_id_str='2326748376', whether_active='NO '),
 Row(user_id_str='2351435020', whether_active='NO '),
 Row(user_id_str='4111464136', whether_active='NO '),
 Row(user_id_str='2229240523', whether_active='NO '),
 Row(user_id_str='2402058558', whether_active='NO '),
 Row(user_id_str='77321410', whether_active='NO '),
 Row(user_id_str='3375721527', whether_active='NO '),
 Row(user_id_str='860495726', whether_active='NO '),
 Row(user_id_str='3923649083', whether_active='NO '),
 Row(user_id_str='31467003', whether_active='NO '),
 Row(user_id_str='4146493673', whether_active='NO '),
 Row(user_id_str='43189449', whether_active='NO '),
 Row(user_id_str='14348618', whether_active='NO '),
 Row(user_id_str='191873398', whether_active='NO '),
 Row(user_id_str='14169855', whether_active='NO '),
 Row(user_id_str='103596643', whether_active='NO '),
 Row(user_id_str='87690895', whether_active='NO '),
 Row(user_id_str='382901851', whether_active='NO '),
 Row(user_id_str='506067767', whether_active='NO '),
 Row(user_id_str='323149948', whether_active='NO '),
 Row(user_id_str='2348808775', whether_active='NO '),
 Row(user_id_str='32071786', whether_active='NO '),
 Row(user_id_str='89633357', whether_active='NO '),
 Row(user_id_str='375712053', whether_active='NO '),
 Row(user_id_str='2816704757', whether_active='NO '),
 Row(user_id_str='720331094', whether_active='NO '),
 Row(user_id_str='349381846', whether_active='NO '),
 Row(user_id_str='418871874', whether_active='NO '),
 Row(user_id_str='16657113', whether_active='NO '),
 Row(user_id_str='102688383', whether_active='NO '),
 Row(user_id_str='772544294137630720', whether_active='NO '),
 Row(user_id_str='1399965709', whether_active='YES '),
 Row(user_id_str='826284212', whether_active='NO '),
 Row(user_id_str='3196213653', whether_active='NO '),
 Row(user_id_str='4442301695', whether_active='NO '),
 Row(user_id_str='1485862291', whether_active='NO '),
 Row(user_id_str='294719044', whether_active='NO '),
 Row(user_id_str='468731640', whether_active='NO '),
 Row(user_id_str='8408412', whether_active='NO '),
 Row(user_id_str='786212672194813953', whether_active='NO '),
 Row(user_id_str='81000458', whether_active='NO '),
 Row(user_id_str='578426523', whether_active='NO '),
 Row(user_id_str='2847886928', whether_active='NO '),
 Row(user_id_str='258080946', whether_active='NO '),
 Row(user_id_str='2293516421', whether_active='NO '),
 Row(user_id_str='3073354949', whether_active='NO '),
 Row(user_id_str='2244751172', whether_active='NO '),
 Row(user_id_str='1648631244', whether_active='NO '),
 Row(user_id_str='207114132', whether_active='NO '),
 Row(user_id_str='155809091', whether_active='NO '),
 Row(user_id_str='48395069', whether_active='NO '),
 Row(user_id_str='41337472', whether_active='NO '),
 Row(user_id_str='50902973', whether_active='NO '),
 Row(user_id_str='588605404', whether_active='NO '),
 Row(user_id_str='591804599', whether_active='NO '),
 Row(user_id_str='1806671', whether_active='NO '),
 Row(user_id_str='2551073557', whether_active='NO '),
 Row(user_id_str='2663928969', whether_active='NO '),
 Row(user_id_str='19315352', whether_active='NO '),
 Row(user_id_str='585782554', whether_active='NO '),
 Row(user_id_str='63707171', whether_active='NO '),
 Row(user_id_str='1655530248', whether_active='NO '),
 Row(user_id_str='277408746', whether_active='NO '),
 Row(user_id_str='1283793956', whether_active='NO '),
 Row(user_id_str='437669623', whether_active='NO '),
 Row(user_id_str='205418510', whether_active='NO '),
 Row(user_id_str='270940424', whether_active='NO '),
 Row(user_id_str='700332933119414272', whether_active='NO '),
 Row(user_id_str='2025531', whether_active='NO '),
 Row(user_id_str='44678898', whether_active='NO '),
 Row(user_id_str='203597952', whether_active='NO '),
 Row(user_id_str='1957347541', whether_active='NO '),
 Row(user_id_str='599445692', whether_active='NO '),
 Row(user_id_str='3398096555', whether_active='NO '),
 Row(user_id_str='323274346', whether_active='NO '),
 Row(user_id_str='248931197', whether_active='NO '),
 Row(user_id_str='21267682', whether_active='NO '),
 Row(user_id_str='197598528', whether_active='NO '),
 Row(user_id_str='1689125262', whether_active='NO '),
 Row(user_id_str='17824489', whether_active='NO '),
 Row(user_id_str='118378294', whether_active='NO '),
 Row(user_id_str='282269833', whether_active='NO '),
 Row(user_id_str='134152350', whether_active='NO '),
 Row(user_id_str='3234664235', whether_active='NO '),
 Row(user_id_str='36679173', whether_active='NO '),
 Row(user_id_str='4755678875', whether_active='NO '),
 Row(user_id_str='2322987994', whether_active='NO '),
 Row(user_id_str='190543244', whether_active='NO '),
 Row(user_id_str='15519893', whether_active='NO '),
 Row(user_id_str='543872908', whether_active='NO '),
 Row(user_id_str='14454583', whether_active='NO '),
 Row(user_id_str='1040604872', whether_active='NO '),
 Row(user_id_str='625542640', whether_active='NO '),
 Row(user_id_str='1170556975', whether_active='NO '),
 Row(user_id_str='3342756442', whether_active='NO '),
 Row(user_id_str='17665654', whether_active='NO '),
 Row(user_id_str='6295782', whether_active='NO '),
 Row(user_id_str='380538425', whether_active='NO '),
 Row(user_id_str='236301546', whether_active='NO '),
 Row(user_id_str='19775711', whether_active='NO '),
 Row(user_id_str='623948688', whether_active='NO '),
 Row(user_id_str='156131053', whether_active='NO '),
 Row(user_id_str='878083386', whether_active='NO '),
 Row(user_id_str='1264262994', whether_active='NO '),
 Row(user_id_str='20075370', whether_active='NO '),
 Row(user_id_str='64556019', whether_active='NO '),
 Row(user_id_str='162682950', whether_active='NO '),
 Row(user_id_str='472271131', whether_active='NO '),
 Row(user_id_str='491426468', whether_active='NO '),
 Row(user_id_str='302051431', whether_active='NO '),
 Row(user_id_str='76047938', whether_active='NO '),
 Row(user_id_str='23019151', whether_active='YES '),
 Row(user_id_str='214587100', whether_active='NO '),
 Row(user_id_str='735237505', whether_active='NO '),
 Row(user_id_str='19563380', whether_active='NO '),
 Row(user_id_str='15075643', whether_active='NO '),
 Row(user_id_str='2820871918', whether_active='NO '),
 Row(user_id_str='319029300', whether_active='NO '),
 Row(user_id_str='2911144645', whether_active='NO '),
 Row(user_id_str='167129822', whether_active='NO '),
 Row(user_id_str='2178554890', whether_active='NO '),
 Row(user_id_str='28931985', whether_active='NO '),
 Row(user_id_str='377527019', whether_active='NO '),
 Row(user_id_str='14735760', whether_active='NO '),
 Row(user_id_str='89900424', whether_active='NO '),
 Row(user_id_str='219930660', whether_active='NO '),
 Row(user_id_str='446742802', whether_active='NO '),
 Row(user_id_str='39078109', whether_active='NO '),
 Row(user_id_str='125855207', whether_active='NO '),
 Row(user_id_str='70389188', whether_active='NO '),
 Row(user_id_str='22915745', whether_active='NO '),
 Row(user_id_str='1196145949', whether_active='NO '),
 Row(user_id_str='168418392', whether_active='NO '),
 Row(user_id_str='2698629504', whether_active='YES '),
 Row(user_id_str='718033847930097664', whether_active='NO '),
 Row(user_id_str='3023752657', whether_active='NO '),
 Row(user_id_str='82018203', whether_active='NO '),
 Row(user_id_str='716687022719676416', whether_active='NO '),
 Row(user_id_str='65332022', whether_active='NO '),
 Row(user_id_str='141121479', whether_active='NO '),
 Row(user_id_str='38640756', whether_active='NO '),
 Row(user_id_str='3877071439', whether_active='NO '),
 Row(user_id_str='48626994', whether_active='NO '),
 Row(user_id_str='133856231', whether_active='NO '),
 Row(user_id_str='102119049', whether_active='NO '),
 Row(user_id_str='4380411', whether_active='NO '),
 Row(user_id_str='4417845858', whether_active='NO '),
 Row(user_id_str='2322723822', whether_active='NO '),
 Row(user_id_str='145940316', whether_active='NO '),
 Row(user_id_str='787616782148366336', whether_active='NO '),
 Row(user_id_str='2347212330', whether_active='NO '),
 Row(user_id_str='74678948', whether_active='NO '),
 Row(user_id_str='478954545', whether_active='NO '),
 Row(user_id_str='305560776', whether_active='NO '),
 Row(user_id_str='2193433592', whether_active='NO '),
 Row(user_id_str='1240846296', whether_active='NO '),
 Row(user_id_str='3304100556', whether_active='NO '),
 Row(user_id_str='715810118', whether_active='NO '),
 Row(user_id_str='4593154519', whether_active='NO '),
 Row(user_id_str='102578904', whether_active='NO '),
 Row(user_id_str='755649698921345024', whether_active='NO '),
 Row(user_id_str='791304923841388544', whether_active='NO '),
 Row(user_id_str='317698183', whether_active='NO '),
 Row(user_id_str='768738865', whether_active='NO '),
 Row(user_id_str='793458123344261120', whether_active='NO '),
 Row(user_id_str='40692308', whether_active='NO '),
 Row(user_id_str='14430913', whether_active='NO '),
 Row(user_id_str='3250864230', whether_active='NO '),
 Row(user_id_str='374735949', whether_active='NO '),
 Row(user_id_str='156302205', whether_active='NO '),
 Row(user_id_str='14961827', whether_active='NO '),
 Row(user_id_str='89237396', whether_active='NO '),
 Row(user_id_str='741872860407431168', whether_active='NO '),
 Row(user_id_str='72877928', whether_active='NO '),
 Row(user_id_str='1908777942', whether_active='NO '),
 Row(user_id_str='56210818', whether_active='NO '),
 Row(user_id_str='20973783', whether_active='NO '),
 Row(user_id_str='2228056004', whether_active='NO '),
 Row(user_id_str='1210875679', whether_active='NO '),
 Row(user_id_str='450442747', whether_active='NO '),
 Row(user_id_str='2316449398', whether_active='NO '),
 Row(user_id_str='54311555', whether_active='NO '),
 Row(user_id_str='14993218', whether_active='NO '),
 Row(user_id_str='57322834', whether_active='NO '),
 Row(user_id_str='158632671', whether_active='NO '),
 Row(user_id_str='705020775166685184', whether_active='NO '),
 Row(user_id_str='83078534', whether_active='NO '),
 Row(user_id_str='221125308', whether_active='NO '),
 Row(user_id_str='1914640352', whether_active='NO '),
 Row(user_id_str='255935729', whether_active='NO '),
 Row(user_id_str='147258286', whether_active='NO '),
 Row(user_id_str='21338481', whether_active='NO '),
 Row(user_id_str='156365299', whether_active='NO '),
 Row(user_id_str='122672833', whether_active='NO '),
 Row(user_id_str='127216617', whether_active='NO '),
 Row(user_id_str='29684260', whether_active='NO '),
 Row(user_id_str='61218672', whether_active='NO '),
 Row(user_id_str='25151772', whether_active='NO '),
 Row(user_id_str='2171855560', whether_active='NO '),
 Row(user_id_str='284075387', whether_active='NO '),
 Row(user_id_str='1110962058', whether_active='NO '),
 Row(user_id_str='396796435', whether_active='NO '),
 Row(user_id_str='62872680', whether_active='NO '),
 Row(user_id_str='71302070', whether_active='YES '),
 Row(user_id_str='1231247078', whether_active='NO '),
 Row(user_id_str='365367615', whether_active='NO '),
 Row(user_id_str='127186083', whether_active='NO '),
 Row(user_id_str='81329096', whether_active='NO '),
 Row(user_id_str='278516937', whether_active='NO '),
 Row(user_id_str='40713544', whether_active='NO '),
 Row(user_id_str='158471550', whether_active='NO '),
 Row(user_id_str='620214487', whether_active='NO '),
 Row(user_id_str='2981676459', whether_active='NO '),
 Row(user_id_str='769833799098241024', whether_active='NO '),
 Row(user_id_str='296995839', whether_active='NO '),
 Row(user_id_str='255946292', whether_active='NO '),
 Row(user_id_str='175756541', whether_active='NO '),
 Row(user_id_str='373275893', whether_active='NO '),
 Row(user_id_str='249190612', whether_active='NO '),
 Row(user_id_str='163148814', whether_active='NO '),
 Row(user_id_str='180361172', whether_active='YES '),
 Row(user_id_str='24655213', whether_active='NO '),
 Row(user_id_str='17424831', whether_active='NO '),
 Row(user_id_str='1603957266', whether_active='NO '),
 Row(user_id_str='51013278', whether_active='NO '),
 Row(user_id_str='20343872', whether_active='NO '),
 Row(user_id_str='488190692', whether_active='NO '),
 Row(user_id_str='3064134913', whether_active='NO '),
 Row(user_id_str='792489392455708672', whether_active='NO '),
 Row(user_id_str='136371386', whether_active='NO '),
 Row(user_id_str='485556712', whether_active='NO '),
 Row(user_id_str='2471882927', whether_active='NO '),
 Row(user_id_str='291033211', whether_active='NO '),
 Row(user_id_str='1432265624', whether_active='NO '),
 Row(user_id_str='206062743', whether_active='NO '),
 Row(user_id_str='255430770', whether_active='NO '),
 Row(user_id_str='493941380', whether_active='YES '),
 Row(user_id_str='1347081', whether_active='NO '),
 Row(user_id_str='3811502293', whether_active='NO '),
 Row(user_id_str='2688190572', whether_active='NO '),
 Row(user_id_str='15488009', whether_active='NO '),
 Row(user_id_str='58875334', whether_active='NO '),
 Row(user_id_str='75980633', whether_active='NO '),
 Row(user_id_str='720811218508849152', whether_active='NO '),
 Row(user_id_str='4366491613', whether_active='NO '),
 Row(user_id_str='257320677', whether_active='NO '),
 Row(user_id_str='228025464', whether_active='NO '),
 Row(user_id_str='613496890', whether_active='NO '),
 Row(user_id_str='53454531', whether_active='NO '),
 Row(user_id_str='156664343', whether_active='NO '),
 Row(user_id_str='789256404', whether_active='NO '),
 Row(user_id_str='107008766', whether_active='NO '),
 Row(user_id_str='453590509', whether_active='NO '),
 Row(user_id_str='317774985', whether_active='NO '),
 Row(user_id_str='280370764', whether_active='NO '),
 Row(user_id_str='1148946805', whether_active='NO '),
 Row(user_id_str='106843636', whether_active='NO '),
 Row(user_id_str='780110020461596672', whether_active='NO '),
 Row(user_id_str='180854053', whether_active='NO '),
 Row(user_id_str='54751476', whether_active='NO '),
 Row(user_id_str='25976103', whether_active='NO '),
 Row(user_id_str='2685131954', whether_active='NO '),
 Row(user_id_str='554493417', whether_active='NO '),
 Row(user_id_str='16031661', whether_active='NO '),
 Row(user_id_str='540223123', whether_active='NO '),
 Row(user_id_str='79266671', whether_active='NO '),
 Row(user_id_str='786911784045256704', whether_active='NO '),
 Row(user_id_str='265069320', whether_active='NO '),
 Row(user_id_str='227558783', whether_active='NO '),
 Row(user_id_str='425825960', whether_active='NO '),
 Row(user_id_str='3459096634', whether_active='NO '),
 Row(user_id_str='98434540', whether_active='NO '),
 Row(user_id_str='540744250', whether_active='NO '),
 Row(user_id_str='91804415', whether_active='NO '),
 Row(user_id_str='21998279', whether_active='NO '),
 Row(user_id_str='19280072', whether_active='NO '),
 Row(user_id_str='15604020', whether_active='NO '),
 Row(user_id_str='96721010', whether_active='NO '),
 Row(user_id_str='11892672', whether_active='NO '),
 Row(user_id_str='142243378', whether_active='NO '),
 Row(user_id_str='42747982', whether_active='NO '),
 Row(user_id_str='20039132', whether_active='NO '),
 Row(user_id_str='446149900', whether_active='NO '),
 Row(user_id_str='137685030', whether_active='NO '),
 Row(user_id_str='793273269222797312', whether_active='YES '),
 Row(user_id_str='84306077', whether_active='NO '),
 Row(user_id_str='129433156', whether_active='NO '),
 Row(user_id_str='453209717', whether_active='NO '),
 Row(user_id_str='50972311', whether_active='NO '),
 Row(user_id_str='929624545', whether_active='NO '),
 Row(user_id_str='14244836', whether_active='NO '),
 Row(user_id_str='376854086', whether_active='NO '),
 Row(user_id_str='84115838', whether_active='NO '),
 Row(user_id_str='234641258', whether_active='NO '),
 Row(user_id_str='2463479774', whether_active='NO '),
 Row(user_id_str='401160259', whether_active='NO '),
 Row(user_id_str='383083991', whether_active='NO '),
 Row(user_id_str='160500308', whether_active='NO '),
 Row(user_id_str='156226234', whether_active='NO '),
 Row(user_id_str='1443351012', whether_active='NO '),

In [86]:
yes = experiment_user.filter(experiment_user.whether_active.contains('YES')).count()
no = experiment_user.filter(experiment_user.whether_active.contains('NO')).count()

In [87]:
percentage_of_active_users = (yes/(yes+no))*100

In [88]:
percentage_of_active_users

2.42

In [43]:
ans2 = sqlContext.sql("Select t1.user_id_str,t2.user_screen_name from table_1 as t1 join table_2 as t2 on t1.user_id_str = t2.user_id_str")

In [45]:
ans2.show(5)

+-----------+----------------+
|user_id_str|user_screen_name|
+-----------+----------------+
|   18435372|          medtek|
| 1387267123|      TheMimiZee|
|  267381861|      SparklyPen|
|  885336408|    J_cooper1990|
|  213060183|         ke4ole1|
+-----------+----------------+
only showing top 5 rows

In [90]:
sqlContext.registerDataFrameAsTable(data, "tab1")
sqlContext.registerDataFrameAsTable(daily_active_users, "tab2")
sqlContext.registerDataFrameAsTable(experiment_user,"tab3")

In [108]:
ans_1 = sqlContext.sql("Select t1.*  from tab1 as t1 inner join tab2 as t2 on t1.user_id_str = t2.user_id_str inner join tab3 as t3 on t1.user_id_str = t3.user_id_str")

In [109]:
x = ans_1.collect()

In [112]:
import pandas as pd

In [119]:
columns = [entry for entry in data.columns]

In [120]:
data_final = pd.DataFrame(x,columns = columns)

In [122]:
data_final.to_csv('Amazon_new.csv')